{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row">
    <center>
        <h1>Actualizar Contraseña</h1>
    </center>
    <div class="col-md-6" style="margin: 0 auto;">
        <form action="/updatepass/{{email}}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_email">email: </label> {{form.email}}
                <input type="text" class="form-control" id="email" name="email">
            </div>

            <button type="submit" class="btn btn-primary" style="display: block;margin: 1rem auto;">Enviar</button>
        </form>
    </div>
   
</div>

{% endblock content %}