{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styles</title>

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <h1> <a href="{% url 'home' %}">Inicio</a> </h1>

    <h1><a href="{% url 'notaNueva' %}"> Agregar nueva nota </a></h1>
</head>
<body>
    <div>
        {% block content %}
        {% endblock content %}
        
    </div>
</body>
</html>