{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
<html>
<head>
  <title>Changing Styles</title>
</head>
<body>
<table cellspacing="1" cellpadding="0" border="0" bgcolor="black" id="shell" height="250" width="1000" align="center">
	<tr height="50">
		<td colspan="2" bgcolor="black"> 
		
			<table title="Banner" id="banner" border="0" align="center"> 
				<tr>
					
					<center>
						<h1 style="color:indianred">Sobre Changing Styles ...</h1>
						<img src="{% static 'imagen/imagen3.jpg' %}" class="center">
					</center>
					
				</tr> 
			</table>
		
		</td>
	</tr>
	<tr height="200">
		<td bgcolor="black"> 
		
			<table id="navigation" title="Navigation" border="0">

				<button>
				<center>
					<img src="{% static 'imagen/imagen4.jpg' %}" class="center">
					
				</center>	
                </button>
                <button>
                    <center>
						<img src="{% static 'imagen/imagen5.jpg' %}" class="center">
                    </center>	
                    </button>
					<button>
						<center>
							<a href="#openModal" style="color: crimson;">*************Lista de servicios*********** </a>
		
							<div id="openModal" class="modalDialog">
								<div>
									<a href="#close" title="Close" class="close">X</a>
									<ul>
										<h2 style="font-family: cursive;" style="color: darkgoldenrod;"> *Lista de servicios*</h2>
										<div class="detalle-entry">
											<h2 style="color: darkcyan;"> {{blogs.titulo}}  </h2>
											<p style="color: darkcyan;">   {{blogs.precio}} </p>
										</div> 
										{% for informacion in listado %}
										  	<img src='{{ informacion.infromacion }}' class="center">			   
										{% endfor %}
										<p><a href="{% url 'editarDetalle' blogs.pk %}"> Editar Nota</a></p>
										<p><a href="{% url 'eliminarDetalle' blogs.pk %}"> Eliminar Nota</a></p>
									
										</ul> 
		
									
								</div>
							</div>
											
							
						</center>	
						</button>
					<button>
						<center>
							<img src="{% static 'imagen/imagen6.jpg' %}" class="center">
							
						</center>	
						</button>
						<button>
							<center>
								<img src="{% static 'imagen/imagen7.jpg' %}" class="center">											
								
							</center>	
							</button>
							
				
					

			</table> 
			
		</td>
		
	</tr>
</table>

</body>
</html>
{% endblock content %}